footer {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
    height: 40px;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 300px) {
     footer {
          /* display: flex; */
          /* justify-content: flex-end; */
          /* padding: 5px; */
          background-color: #45a1ff;
          color: #fff;
          height: 5px;
          bottom: 0;
          font-size: 4px;
          /* position: fixed; */
          width: 100%;
          text-align: center;
     }
}

